<form [formGroup]="contactForm">

  <mat-form-field >
    <input matInput placeholder="First Name" formControlName="first_name">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="Last Name" formControlName="last_name">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="Address" formControlName="address">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="Designation" formControlName="designation">
  </mat-form-field>

  <div formArrayName="phone_number">
    <div *ngFor="let phone of phoneForms.controls; let i=index" [formGroupName]="i">
      <mat-form-field >
        <input matInput placeholder="Phone Number" formControlName="phone_number">
      </mat-form-field>
      <button mat-flat-button color="warn" (click)="deletePhone(i)">Delete</button>
    </div>
  </div>

  <button mat-flat-button color="primary" (click)="addPhone()">Add Phone Number</button>
  <br/><br>
  <button mat-raised-button color="accent" >Save Contact</button>
  <br/><br>
</form>
